.latest-projects > .latest-projects-content > .projects-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.latest-projects .projects-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.latest-projects .projects-cards > .card {
    padding: 0 8px;
    width: 33.3%!important;
}