* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #555555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.py-100 {
  padding: 100px 0;
}
.bg-yellow {
  background-color: #fef7ec;
}